footer {
    font-size: 20px;
    max-width: 1600px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 90px;
    background-color: #000;

}


footer .f_logo {
    padding-left: 14vw;
}

footer .f_logo .mo_lo{
    display: none;
}


footer .footer_i .f_menu {
    min-width: 616px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 34px;
}

footer .footer_i .f_menu li {
    line-height: 180%;
    font-family: "title";
    font-size: .8em;
    text-align: center;
    /* margin-right: 76px; */
}
footer .footer_i .f_menu li:last-child {
    margin-right: 0;
}

footer .footer_i .f_menu li:hover {
    color: #B28B40;
}

footer .footer_i .f_menu li a {
    display: block;
}

footer .footer_i .mo_ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 5px;
    display: none;
}
footer .footer_i .mo_ul li{
    width: fit-content;
    height: fit-content;
    font-family: 'text';
    font-size: .6em;
    line-height: 13px;
}
footer .footer_i .mo_ul li:not(:last-child)::after {
    content: '|';
    margin: 0 5px;
}

footer .footer_i .copy {
    height: fit-content;
    font-family: "title";
    font-size: .8em;
    text-align: center;
}

footer .f_right {
    width: 339px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer .f_right ul {
    display: flex;
    margin-top: 24px;
}

footer .f_right ul li {
    width: fit-content;
    height: fit-content;
    font-family: 'text';
    font-size: .6em;
    line-height: 13px;

}

footer .f_right ul li:not(:last-child)::after {
    content: '|';
    margin: 0 5px;
}


/*PC */
@media screen and (max-width:1600px) {
    footer .f_logo {
        padding-left: 7vw;
    }
    footer .f_logo a img{
        width: 80%;
    }
    footer .footer_i .f_menu {
        min-width: 366px;
    }
}
@media screen and (max-width:1200px) {
    footer {
            font-size: 16px;
        }
    footer .f_logo {
        padding-left: 1vw;
    }   

    footer .f_logo a img {
        width: 70%;
    }
}

/* 테블릿*/
@media screen and (max-width:1024px) {
    footer {
        font-size: 14px;
        height: 200px;
        padding: 0 40px;
        flex-direction: column;
        justify-content: center;
    }

    footer .f_logo {
        max-width: 250px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    footer .f_logo a img{
        width: 250px;
    }
    footer .f_logo figure{
        width: 250px;
        margin-left: 50px;
    }
    footer .f_right {
        display: none;
    }
    footer .f_logo .mo_lo{
        display: block;
    }
    
    footer .footer_i .copy {
        margin-bottom: 10px;
    }
    footer .footer_i .f_menu {
        min-width: 600px;
        margin: 20px auto;
    }
    footer .footer_i .f_menu li {
        font-size: 1.2em;
    }
    footer .footer_i .copy {
        font-size: 1.2em;
        margin: 10px auto;
    }
    
    footer .footer_i .mo_ul{
        display: flex;
    }
    footer .footer_i .mo_ul li {
        font-size: .9em;
    }

}


/* 모바일 */
@media screen and (max-width:767px) {
    footer {
        font-size: 10px;
        padding: 0 16px;
    }

    footer .footer_i .f_menu {
        min-width: auto;
    }
    footer .footer_i .f_menu li {
        font-size: 1.4em;
    }
    footer .footer_i .mo_ul li {
        font-size: 1.1em;
    }
    footer .footer_i .copy {
        font-size: 1.3em;
    }
}

/* 모바일*/
@media screen and (max-width:400px) {}