@import url(reset.css);
@import url(header.css);
@import url(footer.css);

@font-face {
    font-family: "title";
    src: url(../font/ChosunCentennial_ttf.ttf);
}

@font-face {
    font-family: "text";
    src: url(../font/NanumSquareNeoOTF-Rg.otf);
}

html,
body {
    position: relative;
    font-size: 20px;
    height: 113vh;
}

body {
    background-color: #000;
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}


/* 글 숨기기 */
.t_hidden {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
}

/* 글 숨기기//*/

/* 위의 바 */
.button {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
}

.button input[type="radio"] {
    display: none;
}

.button .click {
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

.button .click img {
    width: 10px;
    height: 25px;
    transform: rotate(90deg);
}

.button input[type="radio"]+label {
    width: calc(100% / 3);
    line-height: 50px;
    font-family: 'title';
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.button input[type="radio"]:checked+label {
    color: #b28b40;
    border-bottom: 4px solid #b28b40;
}




#top_wrap {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 90px;
    padding-top: 230px;
}




.top .big {
    position: relative;
    display: flex;
    justify-content: space-between;
}


/* 앞 png */
.top .big .png {
    width: 19%;
    position: absolute;
    top: 33%;
    left: 41%;
    z-index: 2;
}

/* 앞 png */

/* 뒤 img */
.top .big .img_warp {
    max-width: 58%;
    padding-bottom: 50px;
}

/* 뒤 //img */

/* 제목 */
.top .big .title {
    width: fit-content;
    height: fit-content;
    padding: 1% 0;
    padding-left: 11%;
    padding-right: 1.3%;
    background-color: #4B431C;
    position: absolute;
    top: 5%;
    left: 54%;
    z-index: 4;
}

.top .big .title p {
    font-family: 'title';
    font-size: 1.5rem;
}

/* //제목 */
.top .big .text {
    width: 37%;
    overflow: hidden;
    position: relative;
    margin-top: 9%;
    z-index: 3;

    font-family: 'text';
    font-size: 1rem;
}


.top .big .text>p {
    line-height: 180%;
    margin-bottom: 10%;
}


.top .big .text .status_i .status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}

.top .big .text .status_i .status p {
    width: 76px;
    font-family: 'text';
    font-size: 1rem;
}

.top .big .text .status_i .status p:last-child {
    text-align: right;
}

.top .big .text .status_i .status .wrap {
    width: 61%;
    display: flex;
}

.top .big .text .status_i .status .wrap .front {
    width: calc(100% / 4);
    border: 2px solid #fff;
    border-radius: 20px 0 0 20px;
    margin-right: 4px;
    /* 첫번째 */
}

.top .big .text .status_i .status .wrap .mid {
    width: calc(100% / 4);
    ;
    border: 2px solid #fff;
    margin-right: 4px;
    /* 미드 */
}

.top .big .text .status_i .status .wrap .last {
    width: calc(100% / 4);
    ;
    border: 2px solid #fff;
    border-radius: 0 20px 20px 0;
    /* 라스트 */
}

.top .big .text .status_i .status .wrap .full {
    background-color: #fff;
    /* 색칠 */
}


#btm_wrap {
    width: 100%;
    margin: 120px 16px;
}

.s_png {
    width: 100%;
}

.s_png .small {
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.s_png .small img {
    border-radius: 4px;
}




.s_png .swiper-slide-thumb-active {
    border-radius: 4px;
    background-color: #b28b40;
}



@media screen and (max-width:1500px) {
    html {
        font-size: 18px;
    }

    .button input[type="radio"]+label {
        line-height: 50px;
    }

    .top .big .text {
        width: 40%;
        margin-top: 7%;
    }

    .top .big .text>p {
        margin-bottom: 5%;
    }

    .top .big .text .status_i .status {
        margin-bottom: 6%;
    }


}



@media screen and (max-width:1200px) {
    html {
        font-size: 16px;
    }

    .top .big .title {
        top: 3%;
    }



    .top .big .text {
        margin-top: 6.5%;
    }

    .top .big .text>p {
        line-height: 170%;
        margin-bottom: 7%;
    }

    .top .big .text .status_i .status {
        margin-bottom: 6%;
    }

    .s_png .small {
        min-width: 150px;
    }


}

@media screen and (max-width:1024px) {
    html {
        font-size: 20px;
    }

    .button input[type="radio"]+label {
        line-height: 30px;
        font-size: 18px;
    }

    .button {
        top: 80px;
    }

    #top_wrap {
        padding: 0 40px;
        padding-top: 180px;
    }


    .top .big {
        flex-direction: column;
    }

    .top .big .img_warp {
        max-width: 90%;
        margin-top: 4%;
    }


    .top .big .png {
        width: 31%;
        top: 16%;
        left: 68%;
    }

    .top .big .text {
        width: 90%;
    }

    .top .big .title {
        top: 1%;
        left: 1%;
        transform: rotate(-5deg);
        padding: 1% 2.5%;
    }


    .s_png .small {
        min-width: 120px;
    }





}


@media screen and (max-width:767px) {
    html {
        font-size: 16px;
    }

    #top_wrap {
        padding: 0 16px;
        padding-top: 120px;
    }

    .button {
        top: -50px;
        flex-direction: column;
        z-index: 2;
    }

    .button input[type="radio"]+label {
        width: 100%;
        line-height: 40px;
        padding-left: 16px;
        text-align: center;
    }

    .button input[type="radio"]:checked+label {

        border-bottom: 2px solid #b28b40;
    }

    .button .click {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .s_png .small {
        min-width: 100px;
    }



}

@media screen and (max-width:500px) {
    html {
        font-size: 15px;
    }


    .top .big .png {
        width: 41%;
        top: 4%;
        left: 65%;
    }

    #btm_wrap {
        margin: 80px 16px;
    }


}

@media screen and (max-width:400px) {
    html {
        font-size: 14px;
    }

    .top .big .text .status_i .status p {
        width: 65px;
    }

    .s_png .small {
        min-width: 70px;
    }
}